.app.dark {
  --bg-color: #05051a;
  --inverted-bg-color: #fcfcfc;

  --primary-color: #f3f3f3;
  --secondary-color: #dedede;

  --inverted-primary-color: #2c2b2b;
  --inverted-secondary-color: #383737;

}